:root {
    --color-primary : #060960;
    --color-secondary : #4978CB;
    --color-tertiary : #E4DBCF;

    --normal-box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --cool-box-shadow : rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer h3 {
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3,
p,
a,
button {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-weight: 600;
}

img {
    width: 100%;
    object-fit: cover;
}

.wrapper-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
    margin: 0 4vw;
}

.wrapper-logo {
    width: 8vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

.img-logo {
    object-fit:cover;
}

.search-bar {
    display: flex;
    width: 400px;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

.search-bar__input {
    width: 80%;
    padding: .4em;
    background-color: transparent;
    border-radius: 5px 0 0 5px;
    font-size: 1.1em;
    border: none;
}

.search-bar__button {
    position: relative;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 20%;
    color: white;
    background-color: var(--color-primary);
    font-size: 1.2em;
    border-radius: 0 5px 5px 0;
}

.search-bar__button:focus {
    outline: 0;
} 

.navbar {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.navbar__item {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--color-primary);
    display: inline-block;
    padding: 15px 10px;
    position: relative;
}

.navbar__item:hover {
    color: var(--color-secondary);

}


/* GRID */
.grid {
    display: grid;
}

.grid--1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 2vw 0;
}

.grid--2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.grid--3 {
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 2vw 0;
}

.grid__item {
    display: flex;
    flex-direction: column;
    font-size: .9em;
}

.grid__item > a + a {
    margin-top: 1em;
}

 .grid__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid__item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

/* FIL D'ARIANE */

.breadcrumb {
    width: 100%;
    padding: 2vw;
    display: flex;
    font-weight: bold;
    color: var(--color-primary);
    flex-wrap: wrap;
    display: inline-block; 

}

.breadcrumb a {
    text-decoration: underline;
}
    
.breadcrumb a:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

/* MAIN */
main {
    margin: 0 4vw;
    padding: 7vw 0 0;
}

.main-catalogue {
    display: flex;
    justify-content: space-between;
}

/* TILE */
.tile {
    border-radius: 5px;
    box-shadow: var(--cool-box-shadow);
    background-color: var(--color-tertiary);
    height: 400px;
}

.tile-2 {
    border-radius: 5px;
    box-shadow: var(--cool-box-shadow);
    background-color: var(--color-tertiary);
}

.tile-2 .tile__img-wrapper {
    height: 285px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
}

.tile-2 .tile__img {
    transform: scale(.8);
}

.tile-2 .tile__text-wrapper {
    padding: 1em;
}

.tile-2 .tile__countdown + .tile__countdown {
    margin-top: 1em;
}


.tile__title {
    font-size: 1.1em;
    padding-bottom: .7em;
}

.tile:nth-child(3) .tile__img {
    transform: scale(.95);
}

.tile-auction {
    padding: 60px 2vw;
    display: flex;
    justify-content: space-between;
}

.tile-auction__img-wrapper {
    width: 35%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tile__img {
    width: 100%;
}

.tile__text-wrapper {
    padding: .5em;
}


.tile__countdown + .tile__countdown {
    margin-top: .5em;
}

.tile-auction__img-item:first-child {
    grid-column: 1 / 4;
}

.tile-auction__text-wrapper {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* fiche enchere */
.tile-auction {
    padding: 60px 2vw;
    display: flex;
    justify-content: space-between;
}

.tile-auction__img-wrapper {
    width: 35%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.tile-auction__img-item:first-child {
    grid-column: 1 / 4;
}

.tile-auction__text-wrapper {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* ref : https://codepen.io/markcaron/pen/MvGRYV Pure CSS Tabs */

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
  
.tabset .tab-panel {
    display: none;
    line-height: 4vh;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    border: 5px solid transparent;
    border-radius: 5px 5px 0  0 ;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: var(--color-primary);

}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: var(--color-primary);
}

.tabset > input:checked + label {
    color: white;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 2px solid var(--color-primary);
}

.tab-panel i {
    transform: rotateY(180deg);
} 


.validate {
    padding: .5em 1em;
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
}

.news,
.end,
.popular,
.currently {
   padding: 5vw 2vw;
}

.news > h3,
.end > h3,
.popular > h3,
.currently > h3 {
    color: var(--color-primary);
    font-size: 1.3em;
}



.news .tile:nth-child(3) .tile__img {
    transform: scale(1);

}

 
.news .tile__img-wrapper {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    height: 230px;
}

.tile__img-wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: white;
    height: 270px;
}

.news .tile__img {
    object-fit: cover;
    transform: scale(1);
}

.btn-1 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: var(--color-primary);
    border: solid 3px transparent;
    color: white;
    cursor: pointer;
}

.btn-1:hover {
    background-color: transparent;
    border: solid 3px var(--color-primary);
    color: var(--color-primary);
}

/*MAIN*/
.news .tile__text-wrapper {
    text-align: center;
}

.lord {
    display: flex;
    padding: 2vw 0;
    justify-content: space-between;
}

.lord__img-wrapper {
    width: 40%;
}

.lord__img-wrapper > img {
    width: 100%;
}
 
.lord__text-wrapper {
    width: 57%;
}

.text-2 {
    font-size: 1.5em;
    color: var(--color-primary);
}

.text-2 + .text-2 {
    margin-bottom: 20px;
}

.lord-text + .lord-text {
    margin-bottom: 20px;
}

/*ASIDE*/
.filter {
    width: 22%;
    border-radius: 5px;
    background-color: var(--color-tertiary);
    padding: 2em;
    align-self: start;
    position: sticky;
    top: 2vw;
}

.filter__encheres {
    line-height: 1.8em;
}

.filter__encheres input[type="checkbox"] {
    transform: scale(1.5);
}

.filter__encheres input[type="number"] {
    width: 80px;
    font-size: 1.3em;
    border-radius: 5px;
    border: solid 2px transparent;


}

.encheres {
    width: 75%;
    border-radius: 5px;
    padding: 2em 4em;
 
}

/*FOOTER*/
footer {
    margin: 0 4vw 2vw;
    border-radius: 5px;
}

.wrapper-medium {
    padding: 7vw 0;
    border-radius: 5px 5px 0 0;
    color: var(--color-primary);
    display: flex;
}

.block {
    display: block;
}

.box-contact {
    align-items: center;
    width: 50%;
}

.answer {
    font-size: 1.8em;
    margin: 2vw 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    font-size: .9em;
}

.copyright a,
.copyright p {
    color: var(--color-primary);
    font-weight: bold;
}


/*FORMULAIRE ET BOUTONS*/
.btns-box {
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.btns-box a {
    width: 250px;
    display: block;
    margin: 1vw;
    border: solid 3px transparent;
    background-color: var(--color-primary);
    color: white;
    border-radius: 25px;
    padding: .9vw 1.3vw;
    text-decoration: none;
}

.btns-box-1 {
    padding: 2vw;
}

.btns-box-1 a {
    width: fit-content;
    margin: 1vw;
    border: solid 3px transparent;
    background-color: var(--color-primary);
    color: white;
    border-radius: 25px;
    padding: .9vw 1.3vw;
    text-decoration: none;
}

.btn-sub {
    width: fit-content;
    margin: 1vw;
    border: solid 3px transparent;
    background-color: var(--color-primary);
    color: white;
    padding: 1vw 1.5vw;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
}

.mod {
    padding: .5vw 1vw;
    border-radius: 5px;
}
.mod:hover {
    color: white;
    background-color: var(--color-primary);
}

.btn-sub:hover {
    color: var(--blue);
    background-color: white;
}

.btns-box a:hover {
    border: solid 3px var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

.btns-box-1 a:hover {
    border: solid 3px var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
table input:hover {
    text-decoration: none;
    cursor: pointer;

}

.add {
    width: 60%;
    margin: auto;
    border: solid 10px var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-tertiary);
    text-align: center;
    padding: 2vw; 
}

.add input, 
.add select {
    width: 200px;
    border-radius: 15px;
    padding: .5em 1em; 
    border: solid 2px transparent;
}

.add textarea {
    width: 300px;
    border-radius: 15px;
    padding: .5em 1em; 
    border: solid 2px transparent;
}

.form-item {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1vw ;

}

.add .btn {
    border-radius: 15px;
    padding: .5em 2em; 
    border: solid 2px transparent;
    cursor: pointer;
}


.add .btn:hover  {
    background-color: var(--color-primary);
    color: #fff
}

.error {
    color: red;
}